<div class="weather-dashboard">
  <aside class="sidebar">
    <!-- Navigation icons or menu -->
     
  </aside>

  <main class="main-content">
    <div class="search-header">
      <!-- Search input + current city -->
       <h1>search bar</h1>
       <h1>current weather</h1>
    </div>

    

    <section class="hourly-forecast">
      <!-- Hour-by-hour temperature and icons -->
       <h1>hourly-forecast</h1>
    </section>

    <section class="air-conditions">
      <!-- Wind, UV, humidity, etc. -->
      <h1>air conditions</h1>
    </section>
  </main>

  <aside class="forecast-panel">
    <!-- Loop over daily forecast -->
     <h1>forecast panel</h1>
    <div class="forecast-day">
      <h2>Day 1</h2>
      <!-- Icon, label, min/max temp -->
    </div>
    <div class="forecast-day">
      <h2>Day 1</h2>
      <!-- Icon, label, min/max temp -->
    </div>
    <div class="forecast-day">
      <h2>Day 1</h2>
      <!-- Icon, label, min/max temp -->
    </div>
    <div class="forecast-day">
      <h2>Day 1</h2>
      <!-- Icon, label, min/max temp -->
    </div>
    <div class="forecast-day">
      <h2>Day 1</h2>
      <!-- Icon, label, min/max temp -->
    </div>
  </aside>
</div>
